@font-face {
    font-family: 'Onder';
    src: url(../fonts/onder/ONDER-REGULAR.TTF);
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}


body {
    background-color: #182540;
}

form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu Mono';
}

h1 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    font-family: 'Onder';
    color: transparent;
	background-clip: text;

	background-image: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(52.1deg, #8E4A7B 3.08%, #4A8CB1 31.27%, #6FB7B0 59.46%, #D3ECA6 87.65%, #A96C1E 115.84%);
    background-image: linear-gradient(53.43deg, #B21A88 3%, #0997E7 27.59%, #00C7B3 50.47%, #D5FF6B 74.03%);
    background-image: linear-gradient(54.71deg, #B21A88 2.92%, #0997E7 36.52%, #00C7B3 67.8%, #D5FF6B 100%);
}

p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #00C7B3;
    font-weight: 400;
    font-size: 14px;
}

hr {
    color: white;
    opacity: 10%;
    width: 100%;
}

::placeholder {
    color: white
}

form label {
    color: white;
    font-size: 8px;
    visibility: hidden;
    color: white;
}

form div {
    display: flex;
    flex-direction: column;
}

form div:hover hr {
    opacity: 100%;
    color: #00C7B3;
}




.invalidInputField, .validInputField, .emptyInputField, div.countryContainer, #haveVisaContainer, #nextButton{
    cursor: pointer;
}
.invalidInputField input, .validInputField input, .emptyInputField input{
    cursor: pointer;
}




/* Warning styles */
.warningMessage {
    margin-bottom: 5px;
    margin-top: 5px;
}

.emptyInputField .warningMessage, .validInputField .warningMessage {
    display: none;
}

.invalidInputField .warningMessage {
    color: #FF5658;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.invalidInputField hr {
    color: #FF5658;
    opacity: 100%;
}




.warnIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


.addFiles .invalidInputField{
    display: flex;
    flex-direction: column;
}

.addFiles .validInputField .warningMessage span {
    color: #00C7B3;
}

.addFiles .inputWrapper {
    display: flex;
    flex-direction: row;
}

.validInputField .emptyFileInput span {
    color: #00C7B3;
}

.fileInputContainer .emptyInputField .emptyFileInput span, .fileInputContainer .invalidInputField .emptyFileInput span {
    color: white;
}









/* Always visible labels */
#dateOfBirthdayLabel, #foreignPassportLifespanLabel {
    visibility: visible;
}







/* Countries list */
#phoneNumberContainer, #countryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#arrow {
    margin-left: 3px;
    margin-right: 8px;
}

#arrow, #arrow2 {
    width: 8px;
    height: 5px;
}

.icon {
    width: 20px;
    height: 14px;
    margin-right: 11px;
}

#flagAndArrow {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

#countriesListForNumberContainer, #countriesListContainer {
    display: none ;
}
#countriesListForNumber {
    margin-top: 10px;
}

.country, .country2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

.country span, .country2 span {
    color: white;
    vertical-align: middle;

}

.country:hover span, .country2:hover span {
    color: #00C7B3;
}

#phoneNumberLabel {
    visibility: visible;
}

#countriesListContainer {
    margin-top: 5px;
}




/* 'Have visa' container styles */

#haveVisaContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#haveVisaContainer img {
    width: 16px;
    height: 16px;
    position: absolute;
}

#iHaveVisaLabel {
    color: white;
    font-size: 12px;
    margin-left: 25px;
}

#haveVisaContainer input {
    display: none;
}

#iHave {
    display: none;
}


/* Files styles */

.fileInputContainer {
    margin-top: 5px;
}

.fileInputContainer div {
    display: flex;
    flex-direction: row;
}

.fileIcon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.fileInput {
    display: none;
}

#addForeignPassportPhotoContainer {
    margin-top: 20px;
}

.fileInputContainer span {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Ubuntu Mono';
}








/* Back and next buttons */
#backAndNextContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrowButton {
    width: 46px;
    height: 46px;
}



#nextContainer {
    margin: 0 auto;
    padding-right: 46px;
}

#nextButton {
    height: 44px; 
    width: 189px; 
    text-align: center; 
    border-radius: 22px; 
    border: 1px solid white; 
    display: flex; 
    justify-content: center; 
    color: white; 
}

#nextButton:hover {
    background-color: #00C7B3;
    border-color: #00C7B3;
}

#submit {
    display: none;
}



/* Agreement */
#agreement {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    opacity: 50%;
}

a {
    text-decoration: none;
    color: white;
}



/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 49px;
    margin-bottom: 203px;
}

#icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#rosatom {
    width: 106px;
    height: 22px;
}

#nuclear {
    width: 146px;
    height: 31px;
}

#hackatom {
    width: 112px;
    height: 45px;
}

#future {
    width: 108px;
    height: 28px;
}



#links {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44px;
}

#links a, #links div {
    font-family: 'Ubuntu Mono';
    font-size: 16px;
}

#icons a, #links a, #links div {
    margin-right: 10px;
    margin-left: 10px;
}

#links a:hover {
    color: #D5FF6B;
}

#links div {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 22px;
    background-color: #D5FF6B;
    cursor: pointer;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 200px;
    padding-bottom: 100px;
    font-family: 'Ubuntu Mono';
    color: white;

    background-image: linear-gradient(180deg, #182540 0%, #000000 100%);

}

footer table {
    width: 90%;
}




#footerLinks {
    display: block;
    

}

#footerLinks a {
    font-size: 18px;

}


#hackatomLogo {
    width: 229px;
    height: 91px;
}

#rosatomLogo {
    width: 104px;
    height: 21px;
}

#GAQLogo {
    width: 104px;
    height: 31px;
}

#NELogo {
    width: 104px;
    height: 19px;
}

#iceBreakerLogo {
    width: 104px;
    height: 24px;
}

#newsletterLogo {
    width: 104px;
    height: 11px;
}

#obninsktechLogo {
    width: 104px;
    height: 11px;
}

#usefullResourciesLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#usefullResourciesLabel hr {
    height: 0px;
}

#rosatomAndVeonix {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

#newsletterTd {
    display: flex;
    width: 100%;
    text-align: center;
}

#newsletterTd a {
    flex: 1;
}


#line {
    height: 0px;
}




#footerTable {
    width: 80%;
}


#usefullResourciesLabel, #innerTable tr {
    height: 40px;
}

#innerTable {
    width: 100%;
}

.littleText {
    font-size: 12px;
}

#veonixLink {
    margin-right: 20px;
}

#veonixLink a:hover {
    text-decoration: underline;
    color: white;
    
}

#angle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#toTopButton {
    cursor: pointer;
    rotate: 90deg;
}

#rosatomGlobal {
    height: 35px;
}

footer a:hover {
    color: #D5FF6B;
}